{% extends 'base.html' %}
{% block title %}Pinocchio's Pizza & Subs | Cart{% endblock %}
{% load static %}
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    {% endblock %}
    {% block script %}
    <script src="https://kit.fontawesome.com/f3ec200c17.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    {% endblock %}

    {% block body_content %}
    <div class="container">
      <h1 class="mt-5 mb-4 text-white font-weight-bold text-uppercase" id="cart"><a href="#cart" class="text-decoration-none text-reset border-bottom">Cart:</a></h1>
      {% if cart_items %}
      <div class="row">
        <div class="col-lg-8 rounded">
          <table class="table table-hover table-bordered table-light shadow-sm">
            <thead class="thead-dark">
              <tr class="text-uppercase text-center">
                <th scope="col">Quantity</th>
                <th scope="col">Menu Item</th>
                <th scope="col">Price/Item</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr data-orderid="{{item.id}}">
                <th scope="row" class="text-center">{{item.quantity}}</th>
                <td>
                  {{item.name}}
                  {% if item.size %}
                    <span class="badge badge-secondary rounded-0">{{item.size}}</span>
                  {% endif %}
                  {% if item.addons %}
                    <br>
                    <small><strong>with</strong> {{item.addons}}</small>
                  {% endif %}
                </td>
                <td class="text-center">${{item.price}}</td>
                <td class="text-center"><span class="font-weight-bolder">$</span><span class="font-weight-bold">{{item.sub_total}}</span></td>
                <td class="text-center"><i class="far fa-trash-alt text-danger" title="Remove order?" onclick="deleteOrder(this)"></i></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <div class="card bg-success text-white border-info mb-3 rounded-0 shadow-sm">
            <div class="card-header bg-transparent border-info text-center">Please review every item in your cart before proceeding with payment.</div>
            <div class="card-body text-white shadow-sm">
              <h5 class="card-title font-weight-bold"><span class="border-bottom">Order Summary</span> :</h5>
              <p class="card-text">
                <span class="font-weight-bold">Total Items : 
                  <span class="text-dark" id="cart-quantity">{{cart_quantity}}</span>
                </span>
                <br>
                <span class="font-weight-bold">Grand Total
                  <span id="cart-total">
                    : <mark>${{cart_total}}</mark>
                  </span>
                </span>
              </p>
            </div>
            <div class="card-footer bg-transparent border-info text-center">
              <form action="{% url 'checkout' %}" method="post">
                {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="{{ key }}"
                    data-description="Pinocchio's Pizza & Subs"
                    data-amount="{{stripe_total}}"
                    data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="mt-5">
        <div id="pizza-cat" class="container mb-5 rounded vh-100"></div>
        <div class="bg-text container">
          <h2>This cat appears when your cart is empty.</h2>
          <h1 style="font-size:50px">Stop hungry cat sightings.</h1>
          <a href="{% url 'home' %}#menu" class="btn btn-lg btn-success font-weight-bold">Order Food</a>
        </div>
      </div>
      {% endif %}
    </div>
    {% endblock %}