{% extends 'base_accounts.html' %}

{% block title %}Log in to Pinocchio's Pizza & Subs{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-4 font-weight-bold">SIGN IN</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success btn-block">Log In</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          New to Pinocchio's? <a href="{% url 'signup' %}">Register</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}