button[data-toggle="collapse"], button[data-toggle="collapse"]:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #239346; /* rgb(0,146,70) */
}

h1, h3 {
  font-family: 'Leckerli One', sans-serif;
}

ul {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
  
.menu-items:hover {
  background-color: rgba(35, 147, 70, 0.8);
  cursor: pointer;
}

.fa-trash-alt:hover {
  color: red!important;
  cursor: pointer;
}

@keyframes colorize {
  0%   {color: white;}
  30%  {color: yellow;}
  60%  {color: green;}
  90% {color: red;}
}

.fa-pizza-slice {
  color: white;
  animation-name: colorize;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}


@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0); color: rgba(84, 211, 11, 0.87);} 
  40% {transform: translateY(-12px); color: rgba(84, 211, 11, 0.87);} 
  60% {transform: translateY(-6px); color: rgba(84, 211, 11, 0.87);} 
}

.fa-cart-arrow-down {
  animation-name: bounce;
  animation-duration: 1.2s;
}

@keyframes contract {
  0% {font-size: 3em;}
  20% {font-size: 2.5em;}
  40% {font-size: 2.0em;}
  60% {font-size: 2.1em;}
  80% {font-size: 2.6em;}
  100% {font-size: 3em;}
}

.fa-shopping-cart {
  animation-name: contract;
  animation-duration: .7s;
}

mark {
  background-color: #FFCD4A;
}

input[type=number], input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
    width: 6%;
}

.btn-ctrl {
  background: rgba(190, 0, 39, 0.8);
}

.btn-cart {
  background: #009246;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: rgba(190, 0, 39, 0.8);
  background-color: rgba(190, 0, 39, 0.8);
}

td>div>label:hover {
  color: rgba(190, 0, 39, 0.8);
}

.w-55 {
  width: 55%;
}

#cart-items-card {
  background: rgba(15, 15, 15, 0.822);
}

#cart-items-div {
  overflow:auto;
  max-width: 336px; 
  max-height:330px;
  min-height: 225px;
}

tr:nth-child(even) {
  background-color: #f2f2f207;
}

#cart-items-div::-webkit-scrollbar {
  width: 2px;
}
#cart-items-div::-webkit-scrollbar-thumb {
  background: rgba(248, 23, 23, 0.637);
  border-radius: 20px;
}