.items-in-cart {
  color: #20cf2f;
  padding: 4px 1px;
  margin-right: 9px;
  text-decoration: none;
  top: 4px;
  position: relative;
  display: inline-block;
}

#mainMenu > ul > li:nth-child(1) > a > span:nth-child(1) > i {
  font-size: 1.6em;
}

.items-in-cart:hover {
  color: forestgreen;
}

.cart-quantity {
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 2px 8px;
  border-radius: 50%;
  background-color:rgba(253, 31, 31, 0.849);
  color: white;
  font-size: 0.7em;
}

button[data-toggle="collapse"], button[data-toggle="collapse"]:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #239346; /* rgb(0,146,70) */
}

#orderQty {
  width: 40px;
  margin: 2px;
}

h1, h3 {
  font-family: 'Leckerli One', sans-serif;
}

ul {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
  
.menu-items:hover {
  background-color: rgba(35, 147, 70, 0.8);
  cursor: pointer;
}

.fa-trash-alt:hover {
  color: red!important;
  cursor: pointer;
}

@keyframes colorize {
  0%   {color: honeydew;}
  30%  {color: gold;}
  60%  {color: limegreen;}
  90% {color: tomato;}
}

.fa-pizza-slice {
  color: white;
  animation-name: colorize;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}


@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0); color: rgba(84, 211, 11, 0.87);} 
  40% {transform: translateY(-12px); color: rgba(84, 211, 11, 0.87);} 
  60% {transform: translateY(-6px); color: rgba(84, 211, 11, 0.87);} 
}

.fa-cart-arrow-down {
  animation-name: bounce;
  animation-duration: 1.2s;
}

@keyframes move {
  from {
    left: -40%;
  }
  to {
    left: 0%;
  }
}

#zero-cart > i {
  position: relative;
  animation-name: move;
  animation-duration: 1s;
}

mark {
  background-color: #FFCD4A;
}

input[type=number], input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}

.btn-ctrl {
  background: rgba(190, 0, 39, 0.8);
}

.btn-cart {
  background: #009246;
}

#menuItems > div > table > tbody > tr:nth-child(5) > th {
  color: rgba(253, 4, 4, 0.89);
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: rgba(190, 0, 39, 0.8);
  background-color: rgba(190, 0, 39, 0.8);
}

td>div>label:hover {
  color: rgba(190, 0, 39, 0.8);
}

#cart-items-card {
  background: rgba(15, 15, 15, 0.822);
}

#side-cart {
  max-width: 23rem;
}

#cart-items-div {
  overflow:auto;
  max-width: 336px; 
  max-height:327px;
  min-height: 225px;
}

tr:nth-child(even) {
  background-color: #f2f2f207;
}

/* FIREFOX */
#cart-items-div {
  scrollbar-width: thin;
}

#cart-items-div::-webkit-scrollbar {
  width: 2px;
}

#cart-items-div::-webkit-scrollbar-thumb {
  background: rgba(248, 23, 23, 0.637);
  border-radius: 20px;
}

@media (max-width: 1024px) and (min-width: 1024px) {
  .side-cart-div {
    display: none!important;
  }
  #menu-div {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  #side-cart {
    max-width: 20rem;
    padding-left: 0;
  }
  #menu-div {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .side-cart-div {
    display: none!important;
  }
}